<%= simple_form_for(@post) do |f| %>
<%= f.error_notification %>
<div class="field">
  <label class="label">Post about it</label>
  <div class="control">
    <%= f.input :title, input_html: { class: "input"}, label_html: {class: "label is-hidden"}, 
    placeholder: "What's it about?", wrapper: false, autofocus: true%>
  </div><br \>
  <div class="control">
    <%= f.input :post, input_html: { class: "textarea"}, label_html: {class: "label is-hidden"}, 
    placeholder: "Compose your post", wrapper: false %>
  </div>
</div>
<%= f.button :submit, class: "button is-primary" %>
<% end %>